/Denggaopan.TinyUrl/bin
/Denggaopan.TinyUrl/obj
/Denggaopan.TinyUrl.Demo/bin
/Denggaopan.TinyUrl.Demo/obj
/Denggaopan.Snowflake.Demo/bin
/Denggaopan.Snowflake.Demo/obj
/Denggaopan.Snowflake/bin
/Denggaopan.Snowflake/obj
/Denggaopan.Net.Http/bin
/Denggaopan.Net.Http/obj
/Denggaopan.TextJsonUnitTest/bin
/Denggaopan.TextJsonUnitTest/obj
/Denggaopan.GraphqlDemo/internal-nlog.txt
/Denggaopan.ApolloAspNetCoreDemo/obj
/Denggaopan.ApolloAspNetCoreDemo/bin
/Denggaopan.ApolloAspNetDemo/obj
/Denggaopan.ApolloAspNetDemo/bin
/Denggaopan.ApolloNet461Demo/obj
/Denggaopan.ApolloNet461Demo/bin
/Denggaopan.ApolloNetCoreDemo/obj
/Denggaopan.ApolloNetCoreDemo/bin
/Denggaopan.ApolloOpenApiDemo/bin
/Denggaopan.ApolloOpenApiDemo/obj
/lib
/packages
/Denggaopan.ThreeclssBusinessConfigDemo
/Denggaopan.ThreeclssSignGen
